
.div-new{
     background-color: cyan;
     font-size: 50px;
}



/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 90vh;
    width: 80vh;
    align-items: center;
    display:flex;
    justify-content: center;
}
.wrapper{
    height: 80vh;
    width: 90vh;
    background-color: aliceblue;
    border-radius: 15px;
    align-items: center;
    display: inline;
}
.wrapper span{
    width: 100vh;
    height: 90vh;
    text-align: center;
    font-weight: 800;
    font-size:80px;
}
.wrapper span.num{

font-size: 80px;
border-right: 5px solid rgba(0, 0, 0, 5);
border-left: 5px solid rgba(0, 0, 0, 5);
} */